extends share_layout

block content




  <div class="main" id = "counter_share_table">
    <h2 class="sign" align="center" >Welcome to Countr Sharing</h2>
    <p class="sign_in" align="center" id = "text_header">Current Counter Value: </p>
    <p class="sign_in" align="center" id = "text_value"> </p>
    <form class="form1" onSubmit="return false;">
   
  </div>
